<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">FireBase</mat-toolbar>

<mat-card class="card">
  <form class="form">
   
    <mat-form-field class="field">
      <input class="input" matInput placeholder="Digite el nombre" [(ngModel)]="nombre"
        [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field class="field">
      <input class="input" matInput placeholder="Digite el correo" [(ngModel)]="correo"
        [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <mat-form-field class="field">
        <input class="input" matInput placeholder="Digite el mensaje" [(ngModel)]="mensajeInput"
          [ngModelOptions]="{standalone: true}">
      </mat-form-field>
  </form>
  <button mat-raised-button color="primary" (click)="enviarMensaje()">Enviar mensaje</button>
  <ul>
    <li *ngFor="let mensaje of mensajes | async">
      {{mensaje.nombre}} | {{mensaje.correo}} | {{mensaje.mensaje}}
      <button mat-raised-button color="primary" (click)="borrar(mensaje.key)">Borrar</button>
    </li>
  </ul>
</mat-card>